body{
    color:#70757a;
}
.full {
 
  margin: 15px auto;
  display: block;
 
  max-width:630px;
  
  
}
.box{
 border: 1px solid;
  border-radius: 5px;
  padding: 30px;
}
h2,#status{    color: #202124;}
#form-input {
  width: 100%;
  margin:0;
  padding:0;
}
.col-2{
    text-align:center;
  
}
#status-pic{
    text-align:center;
    margin:0 auto;
    display:block;
    padding:10px;
}
h2,h5{text-align:center;}




a {
  text-decoration: none;
}
ul{
    list-style-type:none;
    padding:0;
    margin:0;
    
    font-size:16px;
}

.hw p {
   text-align:left;
}
.lh p {
    
    text-align:right;
}
ul #wind,ul #humidity{
    font-size:13px;
    padding:0;
}

#z{
    text-align:center;
}

#unit{font-weight:normal;
      font-size:18px;
     
      margin:0;
}
.detail{
   
    display:inline-block;
    text-align:center;
    margin:0 auto;
    width:100%;
    padding:0;
}

#floatLeft,#descript{
    display:inline;
    margin:0;

}
.active{
    color: #202124;
    cursor:default;
}
.active hover{
    text-decoration:none;
}
#now{
    font-weight:bold;
     font-size:40px;
     margin-right:5px;
}
#descript{
    font-size:20px;
    font-weight:bold;
    margin-right:20px;
}
